body {
   font-family: "American Typewriter";
}


#wrapper {
    margin: 0 auto;
    /*background: green;*/
    width:1400px;
    display: flex;
}

#main-large-picture {
    width: 500px;
    float:right;
    background: aqua;
    clear: both;
}

#main-large-picture img {
  width:500px;
}

#resume-title {
    width: 900px;
    float:left;
    background: burlywood;
    /*height: 100px;*/
    text-align: center;
}

#resume-title h1 {
    font-size: 26px;
    color: brown;
}

#resume-title h2 {
    font-size: 20px;
    color: white;
}

#side-content {
    width:320px;
    float:left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
}

.flyer-track{
    flex: 1 0 auto;
}

.flyer{
    position: sticky;
    top: 2vh;
}


#main-content-wrapper {
    width: 1080px;
    float:left;
}

#main-content {
    /*width: 630px;*/
    width: 100%;
    float:left;
    /*background: darkkhaki;*/
    min-height:400px;
    padding:10px;
}

#small-profile-picture {
    width:240px;
    text-align: center;
    padding-top:10px;
}

#small-profile-picture img {
    width: 200px;
    border-radius: 100px;
}

#contact-section {
    /*width:140px;*/
    /*background: brown;*/
    color: #000;
    padding: 5px;
}

#contact-section h3 {
    color: dodgerblue;
}

#contact-section p {
    font-weight: bold;
}

#contact-section a {
    color: dodgerblue;
    text-decoration: none;
}

#contact-section a:hover {
    text-decoration: underline;
}

#profile-section {
    width: 530px;
    float:left;
    margin:15px;
}

#skills-section, #experience-section {
    width: 100%;
}

#experience-section h3 {
    padding-top:20px;
}

#experience-section h3.accordion-header {
    padding-top: 0;
}

#skills-section, #experience-section {
    min-height: 133px;
}

#profile-section {
    /*background: cornsilk;*/
}

#profile-section h3 {
    text-align: center;
}


#skills-section {
    /*background: chartreuse;*/
}

#experience-section {
    /*background: aliceblue;*/
}

.clear {
    clear: both;
}


/* Skills bar */
#codeconSkills {
    font-size: 20px;
    height: auto;
    color: white;
}
.codeconSkillbar {
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}

#codeconJava, #codeconSelenium, #codeconApi {
    padding:10px;
}

/* java bar */
#codeconJava {
    width: 75%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #ea8564;
}
@keyframes Animate-HTML {
    from {
        width: 30%;
    }
    to {
        width: 75%}
}@-webkit-keyframes Animate-HTML {
     from {
         width: 30%;
     }
     to {
         width: 75%}
 }@-moz-keyframes Animate-HTML {
      from {
          width: 30%;
      }
      to {
          width: 75%}
  }@-o-keyframes Animate-HTML {
       from {
           width: 30%;
       }
       to {
           width: 75%}
   }

/* selenium bar */
#codeconSelenium {
    width: 90%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: dodgerblue;
}
@keyframes Animate-HTML {
    from {
        width: 30%;
    }
    to {
        width: 90%}
}@-webkit-keyframes Animate-HTML {
     from {
         width: 30%;
     }
     to {
         width: 90%}
 }@-moz-keyframes Animate-HTML {
      from {
          width: 30%;
      }
      to {
          width: 90%}
  }@-o-keyframes Animate-HTML {
       from {
           width: 30%;
       }
       to {
           width: 90%}
   }

/* api bar */
#codeconApi {
    width: 85%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: blueviolet;
}
@keyframes Animate-HTML {
    from {
        width: 30%;
    }
    to {
        width: 85%}
}@-webkit-keyframes Animate-HTML {
     from {
         width: 30%;
     }
     to {
         width: 85%}
 }@-moz-keyframes Animate-HTML {
      from {
          width: 30%;
      }
      to {
          width: 85%}
  }@-o-keyframes Animate-HTML {
       from {
           width: 30%;
       }
       to {
           width: 85%}
   }